@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
:root{
    --body:#f9f9ff;
    --yellow:#ffd13c;
    --red:#ff4c60;
    --text-color:#603f79;
    --purple:#6c6ce5;
    --box-shadow:0 .3rem 1.5rem rgba(0,0,0,0.1);

}


header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color:#FFFF;
    padding: 1cm 10cm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: var(--box-shadow);

}
.logo{
    font-size: 3.5cm;
    font-weight: 700;
    color: black;
}
.logo span{
    font-size:1cm;
    color: var(--red);
}
header .navbar a:hover, header .navbar a.active{
    color: #FFFF;
    background-color: var(--red);
}

header icon i{
    cursor: pointer;
    height: 4.5rem;
    width: 4.5rem;
    line-height:4.5rem;
    margin-left:.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #0000;
    transition:all 2s linear;
}
header .i icon:hover{
    color:#FFFF;
    border-radius: .5rem;
    background-color: var(--red);
    transform: rotate(180deg);
}